@media (prefers-color-scheme: dark) {
    :root {
        --backer: #111;
        --background: #222;
        --color: white;
        --link-color: #fda;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --backer: #ddd;
        --background: white;
        --color: #111;
        --link-color: #652;
    }
}

a {
    color: var(--link-color);
    /* font-weight: bold; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    align-items: center;
    background: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: column;
    /* font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(0.9rem + 0.3vmin);
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 42rem;
}

h1 {
    margin: 0 0 0.3rem;
}

h3 {
    font-size: 120%;
}

html {
    background: var(--backer);
}

.photo {
    margin-right: 1.5rem;
}

.photo img {
    border-radius: 20%;
}

.speaker {
    align-items: center;
    clear: both;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.speaker h3 {
    margin: 0 0 0.8rem;
}

.spread {
    /* display: flex;
    flex-direction: row; */
    margin: 1em 0;
    text-align: center;
}

.spread > * {
    /* border: 1px solid red; */
    display: inline-block;
    font-size: 120%;
    margin: 0 0.8em;
    text-align: center;
}

.top {
    text-align: center;
}

.top > * {
    display: inline-block;
    text-align: left;
}
