@media (prefers-color-scheme: dark) {
    :root {
        --backer: #111;
        --background: #222;
        --color: white;
        --link-color: #fda;
        --link-filter: invert(94%) sepia(75%) saturate(579%) hue-rotate(308deg) brightness(100%) contrast(102%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --backer: #ddd;
        --background: white;
        --color: #111;
        --link-color: #3f891e;
        --link-filter: invert(44%) sepia(92%) saturate(391%) hue-rotate(57deg) brightness(83%) contrast(93%);
    }
}

a {
    color: var(--link-color);
    /* font-weight: bold; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid var(--color);
    font-style: italic;
    margin-left : 0;
    padding-left: 1rem;
}

body {
    align-items: center;
    background: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: column;
    /* font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(0.9rem + 0.3vmin);
    margin: 0 auto;
    padding: 1rem 1.5rem;
    max-width: 42rem;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin: 0 0 0.3rem;
}

h3 {
    align-items: center;
    display: flex;
    font-size: 120%;
}

.home {
    background-image: url(images/external-link.svg);
    margin-left: 0.5rem;
}

.home, .talk {
    background-size: auto 100%;
    display: inline-block;
    filter: var(--link-filter);
    height: calc(1.8 * (0.9rem + 0.3vmin));
    margin-bottom: -0.2rem;
    transform: translate(0, -0.2rem);
    width: calc(1.8 * (0.9rem + 0.3vmin));
}

html {
    background: var(--backer);
}

.logos {
    padding-top: 1rem;
}

.logos div {
    display: inline;
}

.logos img {
    height: 3rem;
}

.pay {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.pay a {
    border: 0.2rem solid var(--link-color);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.photo {
    margin-right: 1.5rem;
}

.photo img {
    border-radius: 20%;
}

.speaker {
    align-items: center;
    clear: both;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.speaker h3 {
    margin: 0 0 0.8rem;
}

/* .speaker:hover .talk {
    visibility: visible;
} */

.spread {
    /* display: flex;
    flex-direction: row; */
    margin: 1em 0;
    text-align: center;
}

.spread > * {
    /* border: 1px solid red; */
    /* display: inline-block; */
    font-size: 120%;
    margin: 0 0.8em;
    text-align: center;
}

.talk {
    background-image: url(images/smart_display_FILL0_wght400_GRAD0_opsz48.svg);
    margin-left: 2rem;
    visibility: hidden;
}

.top {
    text-align: center;
}

/* .top > * {
    display: inline-block;
    text-align: left;
} */
